.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: aquamarine;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: var(--secondary-color);
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
}

.nav-links li a:hover {
    text-decoration: underline;
}